@model List<AcunMedyaTravelProject.Entities.Trip>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container">

    <br /><br />
    <h2>Seyehat  Rehberi Sayfası</h2>


    <table class="table table-bordered table-hover">


        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Başlık</th>
                <th>Açıklama1</th>
                <th>Açıklama2</th>
                <th>İkon</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TripID</td>
                    <td>@item.Title</td>
                    <td>@item.Description1</td>
                    <td>@item.Description2</td>
                    <td>@item.IconURL</td>
                    <td><a href="/Trips/UpdateTrips/@item.TripID" class="btn btn-success">Güncelle</a></td>
                    <td><button class="btn btn-danger" onclick="Delete(@item.TripID)">Sil</button></td>
                </tr>
            }
        </tbody>

    </table>

    <br /><br />
    <a href="/Trips/AddTrips" class="btn btn-dribbble">Oluştur</a>

</div>
<script>
    function Delete(id) {
        Swal.fire({
            title: "Emin Misin?",
            text: "Dikkat bu işlemin geri dönüşü yoktur!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Silindi!",
                    text: "Başarıyla silindi.",
                    icon: "success",
                    timer: 2000
                }).then(() => {
                    window.location.href = "/Trips/DeleteTrips/" + id;
                });
            }
        });
    }
</script>
